.backlogContainer {
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: white;
  }

  .backlogHeader span {
    font-weight: bold;
  }
  
  
  .sidebar {
    width: 250px;
    background-color: #1E1E1E;
    padding: 20px;
  }
  
  .mainContent {
    flex-grow: 1;
    padding: 20px;
    background-color: #121212;
    overflow: auto;
  }

  .createTaskButton{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    background-color: #CCCC;
    font-weight: bold;
}

